.BlockImage-Text {
  height: 840px;
  align-self: stretch;
  flex-grow: 0;
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  align-items: flex-start;
  gap: 30px;
  padding: 120px 147px;

}

.Images {
  width: 754px;
  height: 600px;
  display: flex;

}

.Left {
  width: 372px;
  height: 600px;
  flex-grow: 0;
  margin: 0 5px 0 0;
}

.Right-Top {
  width: 372px;
  height: 295px;
  flex-grow: 0;
  margin: 0 0 5px 5px;
}

.Right-Bottom {
  width: 372px;
  height: 295px;
  flex-grow: 0;
  margin: 5px 0 0 5px;
}

.order-images {
  display: flex;
  flex-direction: column;
}

.Content {
  height: 577px;
  flex-grow: 1;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: stretch;
  gap: 30px;
  padding: 0;
  width: 100%;

}

.Headline {
  height: 96px;
  align-self: stretch;
  flex-grow: 0;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  gap: 10px;
  padding: 0 0 30px;
  border-bottom: solid 1px #fff;

}

.WHAT-DOES-COOKING-MEAN {
  height: 66px;
  flex-grow: 1;
  font-size: 30px;
  font-weight: 300;
  line-height: 1.1;
  letter-spacing: 1.5px;
  text-align: left;
  color: #fff;
}

.text-cooking {
  height: 330px;
  align-self: stretch;
  flex-grow: 0;
  font-size: 21px;
  font-weight: 300;
  line-height: 1.43;
  letter-spacing: normal;
  text-align: left;
  color: #fff;
}

.Call-out {
  width: 362px;
  height: 91px;
  flex-grow: 0;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: flex-start;
  gap: 10px;
  padding: 0;

}

.THE-PERFECT-EGG {
  width: 362px;
  height: 21px;
  font-size: 15px;
  font-weight: bold;
  line-height: 1.4;
  text-align: left;
  color: #cf1430;
}

.WATER {
  width: 362px;
  height: 60px;
  font-size: 21px;
  font-weight: bold;
  line-height: 1.43;
  text-align: left;
  color: #fff;
}

/* ---- Media Queries ---- */
@media (max-width: 1200px) {
  .BlockImage-Text {
    height: auto;
    padding: 100px 120px;

  }

  .Images {
    width: 60%;
    height: 500px;
  }

  .Left {
    width: 22.5vw;
    height: auto;
    min-height: 470px;
  }

  .Right-Top,
  .Right-Bottom {
    width: 22.5vw;
    height: auto;
    min-height: 230px;
  }

  .Content {
    min-height: 400px;
    height: auto;
    width: 40%;
    gap: 20px;
  }

  .Headline {
    height: 60px;
    padding: 0 0 20px;
  }

  .WHAT-DOES-COOKING-MEAN {
    height: 56px;
    font-size: 26px;
  }

  .text-cooking {
    height: auto;
    font-size: 1.5vw;
  }

  .THE-PERFECT-EGG {
    font-size: 12px;
  }

  .WATER {
    font-size: 16px;
  }
}

@media (max-width: 992px) {
  .BlockImage-Text {
    padding: 80px 50px;

    .Images {
      width: 60%;
      height: auto;
    }

    .Left {
      width: 24vw;
      min-height: 400px;
    }

    .Right-Top,
    .Right-Bottom {
      width: 24vw;
      min-height: 195px;
    }

    .Content {

      gap: 15px;

    }

    .Headline {
      height: 40px;
      padding: 0 0 10px;
    }

    .WHAT-DOES-COOKING-MEAN {
      height: 46px;
      font-size: 22px;
    }

    .text-cooking {
      font-size: 1.7vw;

    }


    .THE-PERFECT-EGG {
      font-size: 10px;
    }

    .WATER {
      font-size: 14px;
      width: 300px;
    }


  }
}

@media (max-width: 768px) {
  .BlockImage-Text {
    flex-direction: column;
    padding: 40px 30px;

    .Images {
      width: 100%;
      height: auto;

      .Left {
        width: 45vw;
        height: auto;
        min-height: 400px;
      }

      .Right-Top,
      .Right-Bottom {
        width: 45vw;
        height: auto;
        min-height: 195px;
      }
    }

    .Content {
      width: 100%;
      min-height: 250px;
      height: auto;
    }

    .WHAT-DOES-COOKING-MEAN {
      font-size: 24px;
    }

    .Call-out {
      width: 100%;
    }

    .text-cooking {
      height: auto !important;
      font-size: 16px;
    }

    .THE-PERFECT-EGG {
      font-size: 14px;
    }

    .WATER {
      width: 100%;
      font-size: 18px;
    }
  }
}

@media (max-width: 480px) {
  .BlockImage-Text {
    padding: 40px 10px;
    width: 100%;
  }

  .Images {
    width: 100%;
    height: auto;
  }

  .Left {
    width: 100% !important;
    height: auto;
    min-height: 400px;
  }

  .Right-Top,
  .Right-Bottom {
    width: 50vw !important;
    height: auto;
    min-height: 195px;
  }



  .Content {
    gap: 30px !important;
  }



  .WHAT-DOES-COOKING-MEAN {
    font-size: 20px;
  }

  .text-cooking {
    font-size: 16px;
  }

  .THE-PERFECT-EGG {
    font-size: 12px;
  }

  .WATER {
    font-size: 16px;
  }
}

/* Animaciones con keyframes (opcional) */
@keyframes fadeIn {
  from {
    opacity: 0;
  }

  to {
    opacity: 1;
  }
}

.BlockImage-Text {
  animation: fadeIn 1.5s ease-in-out;
}